.chatroom {
  position: fixed; 
  right: 0px;
  bottom: 0px;
  height: 335px;

}

.chatroom_message_desplay {
  width: 400px;
  right: 0px;
  bottom: 35px;
  height: 300px;
  background-color: rgb(117,150,200);
  
  overflow-y: auto; /*超出去切掉*/
  display: inline-block;
  position:absolute;  
}


.chatroom_message_type {
  width: 400px;
  right: 0px;
  bottom: 0px;
  height: 35px;
  position:absolute;
  border: 1px solid blue;
}
