.chatroom {
  position: relative; 
  left: 1%;
  width: 98%;
  top: 60px;
  height: 270px;
  box-sizing: border-box;

}

.chatroom_message_desplay {
  width: 100%;
  left: 0px;
  bottom: 35px;
  height: 235px;
  background-color: white;
  color: rgb(117,150,200);
  overflow-y: auto; /*超出去切掉*/
  display: inline-block;
  position:absolute;  
}


.chatroom_message_type {
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 35px;
  position:absolute;
}
.out_phone {
  position: relative; 
  font-family: 微軟正黑體;
  vertical-align: top;
  bottom: 0%;
  transition: 2s;
  right: 0px;
}

.phone {
  position: relative; 
  width: 450px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  transition: 2s;
  bottom: 0;
  left: 0;
}

.top {
  height: 40px;
  position: relative;
  .camera {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #333;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.screen {
  height: 350px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
  /*border: 1px solid blue;*/
}
.screen .pages {
  background-color: #333;
  position: relative;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  font-size: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  left: 0px;
}
.screen .pages .page {
  font-size: initial;
  background-color: #333;
  vertical-align: top;
  white-space: normal;
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #eee;
  /*border: 1px solid red;*/
  position: relative;
}
.screen .pages .page:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  /*background-color: #FFAB36;*/
  width: 100%;
  height: 60px;
}
.screen .pages .page:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  /*background-color: #FFAB36;*/
  width: 100%;
  height: 20px;
}


.screen .pages .page1 {
  /*background-color: #FFAB36;*/
  color: white;
}

.screen .pages .page p {
  margin-top: 10px;
}
.screen .pages .page h2 {
  color: white;
  font-size: 20px;
  margin: 0px;
}

/*
.screen .pages .page3 {
  padding-top: 60px;
}*/

.bottom {
  height: 60px;
  position: relative;

}
.bottom .button {
position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.4);
  border: solid 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.bottom .button:hover {
  background-color: #ddd;
}

.status, .phonename {
  color: white;
  margin: 0;
}

.status {
  margin-top: 20px;
  font-size: 15px;
}

.phonename {
  margin: 10px;
}

.buttons {
  margin-top: 60px;
}
.buttons button {
  background-color: transparent;
  border: solid 1px rgba(255, 255, 255, 0.2);
  color: white;
  padding: 5px 14px;
  border-radius: 5px;
  cursor: pointer;
}
.buttons button:hover {
  background-color: #fff;
  color: #333;
}

.sub_screen {
  border-radius: 40%;
  height: 20px;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}

.sub_screen_left {
  text-align:center;
  width: 50%;
  color: white;
  background-color: rgba(black,0.1);
  user-select: none;
  font-size: 15px;
  position: absolute;
  left: 0;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}

.sub_screen_left:hover {
  color: black;
  background-color: white;
  user-select: none;
  font-size: 15px;
  position: absolute;
  left: 0;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}


.sub_screen_right {
  text-align:center;
  width: 50%;
  color: white;
  background-color: rgba(black,0.1);
  user-select: none;
  font-size: 15px;
  position: absolute;
  right: 0;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}

.sub_screen_right:hover {
  color: black;
  background-color: white;
  user-select: none;
  font-size: 15px;
  position: absolute;
  right: 0;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}

.pgone_setting{
  padding: 10px;
}
