<div class="out_phone">
  <div class="phone">
    <div class="top">
      <div class="camera"></div>
    </div>
    <div class="screen">
      <div class="pages">
        <div class="page page1">
          <div class=" chatroom" >
          <p>a</p>
            <div class="chatroom_message_desplay" data-behavior='messages' data-chatroom-id='<%= @chatroom.id %>'>
              <% @messages.each do |message| %>
                <%= render message %>
              <% end %>
            </div>
              <div class="chatroom_message_type" >
              <%= form_for [@chatroom, Message.new], remote: true do |f| %>
                <%= f.text_area :body, rows: 1, class: "form-control", autofocus: true %>
              <% end %>
              </div>
          </div>
        </div>
        <div class="page page2"> <p>a</p> </div>
        <div class="page page3">
          <p>a</p>
        </div>
      </div>
    </div>
    <div class="sub_screen">
      <div class="sub_screen_left"> ◄ </div>
      <div class="sub_screen_right"> ► </div>
    </div>
    <div class="bottom">
      <div class="button">□</div> 
    </div>
  </div>
</div>
